<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbsX9eZPBxXboc2_h4WowAQFgVlvudIAY</string>
	<key>GCM_SENDER_ID</key>
	<string>678003310663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.brbergami.DoWant</string>
	<key>PROJECT_ID</key>
	<string>dowant-9afe1</string>
	<key>STORAGE_BUCKET</key>
	<string>dowant-9afe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678003310663:ios:ac03ec25427dec56ca3162</string>
</dict>
</plist>